<!DOCTYPE html>
<!--suppress ALL -->
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<div th:fragment="notebook">
<table class="table table-hover">
    <thead class="thead-light">
    <tr>
        <th>ID</th>
        <th>Comments</th>
        <th>Date</th>
        <th>Finished</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="note : ${notes}">
        <td class="message" th:text="${note.id}">Note ID</td>
        <td class="message" th:text="${note.message}">Note Message</td>
        <td class="message" th:text="${note.creationDate}"></td>
        <td class="message" th:text="${note.finished}">Finished?</td>
        <td>
            <a th:href="@{'/{noteID}/update'(noteID=${note.id})}" class="edit">
                Edit
            </a>
        </td>

        <td>
            <a th:href="@{'/{noteID}/delete'(noteID=${note.id})}" class="delete">
                Delete
            </a>
        </td>
    </tr>
    </tbody>
</table>
</div>
</html>