<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="template :: header"></head>
<body>
<nav th:replace="template :: navbar"></nav>
<main role="main" class="container">
    <form method="post" name="message_form" id="message_form" th:action="@{/new}" role="form">
        <div class="form-group">
            <label for="noteMessage">Note:</label>
            <input type="text" class="form-control" id="noteMessage" th:name="noteMessage" placeholder="Enter new note." />
        </div>
        <button type="submit" id="submit" class="btn btn-primary">Submit</button>
    </form>
</main>
<footer th:replace="template :: footer"></footer>
</body>
</html>